parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    fileExtensions:
        - php
    paths:
        - Admin
        - Common
        - Controller
        - DependencyInjection
        - Entity
        - Repository
        - Twig
    ignoreErrors:
